/* dashboard.css */
*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;/* Add box-sizing property to include padding and border in element's total width and height */
}
body {
    background-color: #57C2C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #fff;
    font-size: 30px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the middle */
}

.header {
    
    font-family: 'Dancing Script', cursive;
    font-size: 66px;
    z-index: 2;
    margin-left: 20px; /* Add some left margin for better spacing */
}

.header-right {

    display: flex; /* Display items in the header-right div in a row */
    align-items: center; /* Center items vertically */
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-right: 70px;
}

nav a:hover {
    color: #666;
}
.content {
    font-family: 'Roboto', sans-serif;
    top: -30px;
    position: relative;
    right: 300px; /* Adjust the left distance to move the form to the right */
    transform-origin: top center; /* Set the transformation origin to the top center */
     /* Rotate the form container slightly to the left */
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    
    max-width: 750px; /* Adjust the maximum width of the form */
    width: 100%; /* Make the form container take the full available width */
    margin-top: 50px; /* Adjust the top margin to move the form down */
    transform: rotate(-4deg);
    height:700px;
}
.text p{
    margin-bottom: 30px;
}
.text{
    font-size: 17px;
    margin:20px;
    transform: rotate(4deg); 
}
h2 {
    color:#57C2C2;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    
}
.text a{
    color:#333;
    font-size: 30px;
    padding:10px 20px 10px 20px;
    text-decoration: none;
    background-color: #57C2C2;
    border-radius: 15px;
}
img {
    position: absolute;
    top: 52%;
    right: 10%;
    transform: translateY(-50%);
    max-width: 600px;
    width: 100%;
    z-index: 1;
}