/* Form styling */
.container {
    align-items: flex-start;
    max-width: 80%; /* Adjust the maximum width as needed */
    width: 100%;
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 100%; /* Take up full width of the container */
    margin-right: 0; /* Remove right margin to use full width */
}

select,
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding and border don't affect width */
}

select {
    appearance: none;
    background: transparent;
    background-image: url('path-to-your-dropdown-arrow-icon.png');
    background-repeat: no-repeat;
    background-position: right center;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    
    form {
        width: 100%;
    }
}
